*{
    font-family: 'Roboto', 
    sans-serif; 
}
label{
	margin-right: 2%;
}
button{
	color: black;
    transition-duration: 0.4s;
    background-color: white;
    	margin-left: 2%;
}
button:hover{
	 color: #ffe;
    background-color: #5488af;
}
#result{
	margin-top: 3%;
}